{% load staticfiles %}

<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="{% static  'css/list_custom.css' %}" media="screen" title="no title" charset="utf-8">
</head>

<body>
    <div class="ui basic segment container content">

        <div class="ui one column grid" style="width=100px;">
            {% for article in article_list %}
            <div class="column">
              <div class="ui labeled input">
                <div class="ui label">
                  文章标题：
                </div>
                <input type="text" value="{{ article.title }}">
              </div>
              <br>
              <br>
              <div class="ui labeled input">
                <div class="ui label">
                  文章内容：
                </div>
                <input type="text" value="{{ article.content }}">
              </div>
              <br>
              <br>
              <div class="ui labeled input">
                <div class="ui label">
                  阅读数：
                </div>
                <input type="text" value="{{ article.views }}">
              </div>
              <br>
              <br>
              <div class="ui labeled input">
                <div class="ui label">
                  喜欢数：
                </div>
                <input type="text" value="{{ article.likes }}">
              </div>
              <br>
              <br>
              <div class="title header" ><a href="/delete/{{article.id}}">删除</a></div>
            </div>
            {% endfor %}
          </div>
        </div>
    </div>
</body>

</html>
