{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ article.title }}</title>
        <link rel="stylesheet" href="{% static 'css/semantic.css' %}" media="screen" title="no title" charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
    </head>
    <body>

        <div class="ui segment container" style="width:700px;border:none;box-shadow:none">
            <h3 class="ui horizontal divider header" style="">评论内容</h3>
            <div class="ui comments" style="border:none">
                {% for comment in comment_list %}
                    <div class="comment">
                        <div class="content">
                            <a href="#" class="author">{{ comment.name }}</a>
                            <div class="metadata">
                                <div class="date">
                                    {{ comment.createtime }}
                                </div>
                            </div>
                            <p class="text" >
                                {{ comment.content }}
                            </p>
                            <div class="title header" ><a href="/delete/{{comment.id}}">删除</a></div>
                        </div>
                    </div>
                {% endfor %}

            </div>
            <div class="ui divider"></div>
            <form class="ui tiny form"  method="post">

                    {% for field in form %}
                    <div class="field">
                        {{ field.lable }}
                        {{ field }}
                    </div>
                    {% endfor %}
                {% csrf_token %}
                <button type="submit" class="ui blue button" >Click</button>
            </form>
        </div>
    </body>
</html>
